@media (min-width: 1201px) {
	.evento1,
	.evento2,
	.evento3 {
		flex: 1 1 50%;
	}
}
@media (min-width: 601px) and (max-width: 1200px) {
	.evento1,
	.evento2,
	.evento3 {
		flex: 1 1 33.3333%;
	}
}
@media (min-width: 600px) {
	.evento1,
	.evento2,
	.evento3 {
		flex: 1 1 33.3333%;
	}
}
body {
	font-family: Arial, sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
	text-align: center;
}
nav {
	background-color: black;
	width: 100%;
	height: auto;
	border: 8px solid red;
}
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0px;
}
h1 {
	text-align: center;
	border: 8px solid red;
	padding: 20px;
	background-color: black;
	color: white;
}
.evento1,
.evento2,
.evento3 {
	padding: 20px;
	margin: 20px;
	background-color: white;
	text-align: center;
}
img {
	height: auto;
	border: 8px solid black;
	width: 500px;
}
footer {
	background-color: black;
	border: 8px solid red;
	color: white;
}
